<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Meta data -->
    {% include 'sections/metadata.html' %}

    <!-- Títol i Favicons -->
    <title>Replace: Automate your documents</title>

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="//www.mesural.com/lib/bootstrap/bootstrap.css">
    <link href="//app.cuantime.es/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    
    <!-- CSS Custom -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}" media="screen">

    <!-- Scripts Libraries -->
    <!-- Scripts custom -->
</head>

<body>
{% include 'sections/header.html' %}
  <!-- Contingut de pàgina -->
  <div class="container">
    <!-- Primera secció: presentació -->
    <section id="example">
      <div class="row">
        <div class="col-md-6">
          <div class="example-box">
            Get things done<br>
            while you relax
          </div>
        </div>
        <div class="col-md-6 example-copy">
          <span class="title">Work smarter,<br>
          not harder</span>
          Join the automation revolution, maximize your productivity effortlessly, achieve more in less time.
          <a href="{{ url_for('register') }}" class="btn btn-black">Get started, it's free</a>
        </div>
      </div>
    </section>

    <!-- Segona secció: demo -->
    <section id="demo">
      <div class="title">How does it work</div>
      <div class="subtitle">Add as many variables as you have in your file</div>
      <form method="post" action="#" enctype="multipart/form-data">
        <input type="file" accept=".doc,.docx" class="form-control hidden" name="wordfile" id="fileinput">
        
        <div class="row">
          <div class="col-md-8">
            <div class="pairs-container" id="replace-variables">
              <div class="replace-pair">
                <input type="text" class="form-control input-replace" placeholder="*variable*" name="r_variable001">
                <input type="text" class="form-control input-with" placeholder="new content" name="w_variable001">
              </div>
              <div class="replace-pair">
                <input type="text" class="form-control input-replace" placeholder="*variable*" name="r_variable002">
                <input type="text" class="form-control input-with" placeholder="new content" name="w_variable002">
              </div>
              <div class="replace-pair">
                <input type="text" class="form-control input-replace" placeholder="*variable*" name="r_variable003">
                <input type="text" class="form-control input-with" placeholder="new content" name="w_variable003">
              </div>
            </div>
            <div class="add-pair-button">
              <a class="add-pair" onclick="addPair()">+</a>
            </div>

            <!-- <div class="success-region">
              <div class="success-box">
                <svg></svg>
                Your document is the fruit of our teamwork
                <a href="#">Download it</a>
              </div>
            </div> -->
          </div>
          <div class="col-md-4">
            <div class="demo-box file-upload-wrapper" id="drop-area">
              Drop a word<br>file here
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 submit-replace">
            {{code}}
            <button class="btn btn-black" type="submit">Replace</button>
          </div>
        </div>
      </form>

      
    </section>
    
    <!-- Tercera secció: solucions -->
    <section id="solutions">
      <div class="row">
        <div class="col-md-12">
          <div class="title">Do it all with replace</div>
          <div class="subtitle">Whatever your goal, start with your own template</div>
          {% include 'sections/solutions.html' %}
        </div>
      </div>
    </section>
  </div>

{% include 'sections/footer.html' %}


<!-- JavaScripts basics -->
<!-- JavaScripts custom -->
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<!-- Scripts custom -->

</body>
</html>