<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Meta data -->
    {% include 'sections/metadata.html' %}

    <!-- Títol i Favicons -->
    <title>Replace: Automate your documents</title>

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="//www.mesural.com/lib/bootstrap/bootstrap.css">
    <link href="//app.cuantime.es/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    
    <!-- CSS Custom -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}" media="screen">

    <!-- Scripts Libraries -->
    <!-- Scripts custom -->
</head>

<body>
{% include 'sections/header.html' %}
  <!-- Contingut de pàgina -->
  <div class="container">
    <!-- Primera secció: legal -->
    <section id="legal">
      <div class="row">
        <div class="col-md-12">
          <div class="title">{{ title }}</div>
          	{% for key, tema in text.items() %}
				<div class="legal-section-title">{{ key }}</div>
				{% for paragraf in tema %}
					<p>{{ paragraf }}</p>
				{% endfor %}
			{% endfor %}
		  <div class="legal-date">This document was last updated on {{ date }}</div>
        </div>
      </div>
    </section>
  </div>

{% include 'sections/footer.html' %}


<!-- JavaScripts basics -->
<!-- JavaScripts custom -->
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<!-- Scripts custom -->
<script>
var dropArea = document.getElementById('drop-area');
var fileInput = document.getElementById('fileinput');

['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
	dropArea.addEventListener(eventName, preventDefaults, false);
});
function preventDefaults(e) {
	e.preventDefault();
	e.stopPropagation();
}
['dragenter', 'dragover'].forEach(eventName => {
	dropArea.addEventListener(eventName, highlight, false);
});
['dragleave', 'drop'].forEach(eventName => {
	dropArea.addEventListener(eventName, unhighlight, false);
});
function highlight() {
	dropArea.classList.add('highlight');
}
function unhighlight() {
	dropArea.classList.remove('highlight');
}
dropArea.addEventListener('click', function() {
	fileInput.click();
});
dropArea.addEventListener('drop', handleDrop, false);
function handleDrop(e) {
	var file = e.dataTransfer.files[0];
	fileInput.files = e.dataTransfer.files;
	console.log(file.name);
	var dropArea = document.getElementById("drop-area");
	if (file.name.length > 20) {
	text = file.name.substring(0, 15) + "...";
	}else{
	text = file.name;
	}
	dropArea.innerText = text;
}
fileInput.addEventListener('change', handleFiles, false);
function handleFiles(e) {
	var files = e.target.files;
	for (var i = 0; i < files.length; i++) {
		var file = files[i];
		console.log(file.name);
		var dropArea = document.getElementById("drop-area");
		if (file.name.length > 20) {
		text = file.name.substring(0, 15) + "...";
		}else{
		text = file.name;
		}
		dropArea.innerText = text;
	}
}
$("#fileinput").change(function(){
	var inputHiddenValue = $(this).val();
	inputHiddenValue = inputHiddenValue.split('\\').pop();
	$("#drop-area").html(inputHiddenValue);
});
</script>
</body>
</html>