<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Meta data -->
    {% include 'sections/metadata.html' %}

    <!-- Títol i Favicons -->
    <title>Replace: Login</title>

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="//www.mesural.com/lib/bootstrap/bootstrap.css">
    
    <!-- CSS Custom -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/access-style.css') }}" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/access-responsive.css') }}" media="screen">

    <!-- Scripts Libraries -->
    <!-- Scripts custom -->
</head>

<body>
<!-- Contingut de pàgina -->
    <div class="content">
      <div class="franja-central">
          <div class="logo">
              <a href="{{ url_for('index') }}" class="desktop-logo">
                  <img width="70" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Replace">
              </a>
          </div>

    <div class="box box-login box-shadow">
      <div class="login-title">Inicia sesión en tu cuenta</div>

      <form class="form-signin" action="#" method="post">
        <div class="login-input">
          <label for="email">Correo electrónico</label>
          <input type="text" id="email" placeholder="gavin@hooli.com" name="email" required>
          <label for="password"><div class="label-pass">Contraseña</div><div class="label-forgot"><a href="{{ url_for('forgot') }}">¿Olvidaste tu contraseña?</a></div></label>
          <input type="password" id="password" placeholder="********" name="password" required>
          <div class="rememberMe">
            <input type="checkbox" class="custom-control-input" name="rememberMe" id="rememberMe">Recuerdame
          </div>
        </div>

        <div class="submit-zone">
          <button class="btn-access btn-fill" type="submit">Continuar</button>
        </div>
      </form>
    </div>
    
    
    <div class="alert-zone">
        ¿Aún no tienes una cuenta? <a href="{{ url_for('register') }}">Crear cuenta</a></div>
    </div>

  </div>
</div>
<div class="footer">2023 © Replace </div>


<!-- JavaScripts basics -->
<!-- JavaScripts custom -->
<script type="text/javascript" src="js/script.js"></script>
<!-- Scripts custom -->

</body>
</html>