<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul class="footerList">
					<li><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Replace"></li>
					<li><i class="uil uil-location-arrow"></i> Spain</li>
					<li><i class="uil uil-comment"></i> English</li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="footerList">
					<li class="footerTitle">FIND US AT</li>
					<li>Carrer Mallorca 319</li>
					<li>08037 Barcelona</li>
					<li>
						<a href='mailto:hola&#64;replace.com'>Contact us</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="footerList">
					<li class="footerTitle">ABOUT US</li>
					<li><a href="#solutions">Solutions</a></li>
					<li><a href="#pricing">Pricing</a></li>
					<li><a href="{{ url_for('login') }}">Log in</a></li>
					<li><a href="{{ url_for('register') }}">Sign up</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="footerList">
					<li class="footerTitle">LEGAL</li>
					<li><a href="{{ url_for('legal', page='terms-of-use') }}">Terms of use</a></li>
					<li><a href="{{ url_for('legal', page='privacy-policy') }}">Privacy policy</a></li>
					<li><a href="{{ url_for('legal', page='cookies-policy') }}">Cookies policy</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="justify-content-center copyright">
			2023 © Replace
		</div>
	</div>
</footer>