<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<ul class="footerList">
					<li><a href="#"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Replace"></li>
					<li><a href=""><i class="uil uil-location-arrow"></i> Spain</a></li>
					<li><a href=""><i class="uil uil-comment"></i> English</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="footerList">
					<li class="footerTitle">FIND US AT</li>
					<li>Passeig de Sant Joan 144</li>
					<li>08037 Barcelona</li>
					<li>
						<a href='mailto:hola&#64;replace.com'>Contact us</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="footerList">
					<li class="footerTitle">ABOUT US</li>
					<li><a href="#">Solutions</a></li>
					<li><a href="#">Pricing</a></li>
					<li><a href="{{ url_for('login') }}">Log in</a></li>
					<li><a href="{{ url_for('register') }}">Sign up</a></li>
				</ul>
			</div>
			<div class="col-md-3">
				<ul class="footerList">
					<li class="footerTitle">LEGAL</li>
					<li><a href="#">Terms of use</a></li>
					<li><a href="#">Privacy policy</a></li>
					<li><a href="#">Cookies policy</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="justify-content-center copyright">
			2023 © Replace
		</div>
	</div>
</footer>